$primary-color: #007bff;
$secondary-color: #0056b3;

$border-color: #333;
$background-color: #252525;

$text-color: #ffffff;
$placeholder-color: #888888;

$focus-shadow-color: rgba(0, 123, 255, 0.5);
